*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.container{
   display: flex;
   justify-content: center;
   background-image: url(bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   margin-top: 2px;
  
}

.navContainer{
    width: 100vw;
    /* background-color: rgba(113, 113, 154, 0.776);
    */
    background-color: #000000;
    background-image: linear-gradient(160deg, #000000 0%, #8085d0 100%);


    min-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav{
    width: 100%;
}
#navList{
    width: 100%;
    padding: 15px;
    /* margin-left: 15px;
    margin-right: 15px; */
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navLogo{
    font-size: 2.8rem;
    color: azure;
}

a{
    text-decoration: none;
    color: azure;
}
#navItems{
    display: flex;
    gap: 40px;
    
}
.login{
    width:85px ;
    height:50px ;
    border-radius: 20px;
    cursor: pointer;
}

.form_container{
    margin-top: 20px;
    width: 167vh;
    border-radius: 10px;
    border: white 4px solid;
    height: 100vh;
    padding: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(53, 54, 55, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input{
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid rgb(245, 239, 239);
}
form button{
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 7px;
    cursor: pointer ;
}
.add_div{
    width: 100%;
    padding: 10px 0 0 90px;
}
.add_div button{
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 7px;
}
.add_div button:hover{
    background-color: rgb(6, 20, 50);
    cursor: pointer;
}
table{
    width: 160vh;
    margin-top: 25px;
    text-align: center;
    border-collapse: collapse;
    height: 250px;
    width: 150vh;
    
}
.update_form , .create_form{
    display: none;
}
.heading{
     font-size: 27px;
     font-family:  'Trebuchet MS', sans-serif;
     font-weight: 550;
     color: rgb(0, 0, 0);
     padding: 25px;
     position: relative;
     left: 260px;
}
table .edit{
    background-color: blue;
    color: white;
    height: 40px;
    width: 75px;
    border-radius: 7px;
    cursor: pointer;
}
table .delete{
    background-color: red;
    color: white;
    height: 40px;
    width: 75px;
    border-radius: 7px;
    cursor: pointer;
}
.mm{
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px rgb(79, 78, 78);
    width: 320px;
    position: relative;
    right: 80px;
}

.pic{
    height: 130px;
    width: 130px;
    border-radius: 90px;
    object-fit: cover;
    background: #dfdfdf;
}

